@import "tailwindcss";

@theme {
    --color-gf-bg-primary: hsl(0, 0%, 100%);
    --color-gf-bg-secondary: hsl(227, 100%, 98%);
    --color-gf-color-primary: hsl(212, 100%, 50%);
    --color-gf-text-base-primary: hsl(217, 35%, 45%);
    --color-gf-text-base-bold: hsl(217, 21%, 21%);
    --color-gf-text-base-light: hsl(217, 20%, 51%);
}

@layer base {
    [data-theme="dark"] {
        --color-gf-bg-primary: hsl(222, 41%, 20%);
        --color-gf-bg-secondary: hsl(220, 40%, 13%);
        --color-gf-text-base-primary: hsl(0, 0%, 100%);
        --color-gf-text-base-bold: hsl(0, 0%, 100%);
        --color-gf-text-base-light: hsl(0, 0%, 100%);
    }
}
